/* здесь используйте глобальные селекторы img, body, html и так далее */
html {
  background-color: #ffffff;
  height: 100%;
}

body {
  font-family: "Lato", "Arial", sans-serif;
  color: $text-main;
}
