.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-bottom: 34px;
  position: relative;
  width: 100%;

  &::after {
    @include pseudo(500%, 1px);
    position: absolute;
    background-color: #d9d9d9;
    bottom: 9px;
    left: -200px;
    right: -200px;
  }

  &:last-child {
    grid-template-rows: auto;

    &::before {
      @include pseudo(2px, 30px);
      background-color: #d3d3d3;
      position: absolute;
      top: 15px;
      left: 50%;
      transform: translateX(-50%);
    }

    &::after {
      @include pseudo(30px, 2px);
      background-color: #d3d3d3;
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (min-width: 530px) {
    width: 46%;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 324px;
    grid-template-rows: auto;
    padding: 0;
    padding-bottom: 40px;
    background-image: linear-gradient(#ffffff 0 16%, #f2f2f2 16%);
    width: auto;
    min-height: 511px;

    &::after {
      display: none;
    }

    &:last-child {
      background-image: none;
      border: 1px solid #f2f2f2;
      grid-template-columns: 322px;
      min-height: 430px;
      margin-top: auto;
      padding-bottom: 42px;

      &::before {
        @include pseudo(2px, 60px);
        background-color: #d3d3d3;
        position: absolute;
        top: 47px;
        left: 50%;
      }

      &::after {
        @include pseudo(60px, 2px);
        background-color: #d3d3d3;
        position: absolute;
        top: 77px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 245px;

    &:last-child {
      grid-template-columns: 243px;
      grid-template-rows: 51% 50%;
      min-height: 430px;

      &::before {
        @include pseudo(2px, 60px);
        background-color: #d3d3d3;
        position: absolute;
        top: 50px;
        left: 50%;
      }

      &::after {
        @include pseudo(60px, 2px);
        background-color: #d3d3d3;
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.card__picture {
  grid-column: 1/2;
  grid-row: 1/3;
  place-self: center center;
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    grid-row: 1/2;
    margin-bottom: 0;
  }
}

.card__picture--small {
  @media (min-width: $tablet-width) {
    margin-top: 27px;
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
    margin-top: 29px;
  }
}

.card__picture--big {
  @media (min-width: $tablet-width) {
    margin-top: 13px;
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 17px;
    margin-bottom: 20px;
  }
}

.card__subtitle {
  @include font($font-secondary, 400, 16px, 20px);
  text-transform: uppercase;
  color: $text-extra;
  text-align: left;
  grid-row: 1 / 2;
  align-self: flex-end;
  margin: 0;
  padding-bottom: 14px;
  padding-right: 35%;

  @media (min-width: $tablet-width) {
    @include font($font-secondary, 400, 20px, 24px);
    text-align: center;
    padding: 0;
    place-self: center auto;
    grid-column: 1/-1;
    grid-row: 2/3;
    width: 150px;
    margin-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 22px;
    padding-top: 1px;
    padding-right: 3px;
  }
}

.card__list {
  padding-bottom: 19px;
  grid-column: 2/3;
  grid-row: 2/3;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-bottom: 24px;
    grid-column: 1/-1;
    justify-self: center;
    grid-row: 3/4;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 28px;
  }
}

.card__item {
  @include flex(flex, row, wrap);

  @media (min-width: $tablet-width) {
    width: 250px;
    margin-bottom: 7px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.card__char-desk {
  @include font($font-primary, 400, 12px, 16px);
  text-align: left;
  color: $text-secondary;
  width: 50%;

  @media (min-width: $tablet-width) {
    @include font($font-primary, 400, 16px, 20px);
  }
}

.card__char-value {
  @include font($font-primary, 400, 12px, 16px);
  text-align: right;
  color: $text-secondary;
  width: 50%;
  letter-spacing: 0.3px;

  @media (min-width: $tablet-width) {
    @include font($font-primary, 400, 16px, 20px);
    position: relative;
    letter-spacing: normal;
  }
}

.card__button {
  @include font($font-secondary, 400, 16px, 20px);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: $text-bg;
  padding: 10px 109px;
  border: none;
  margin: 0;
  margin-top: 1px;
  grid-column: 1 / -1;
  transition: ease-in-out 0.6s;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
    outline: none;
    cursor: pointer;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: 530px) {
    padding: 10px 82px;
    margin-top: auto;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 97px;
    width: 250px;
    justify-self: center;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    padding: 10px 35px;
  }
}

.card__more-subtitle {
  @include font($font-secondary, 400, 16px, 20px);
  text-transform: uppercase;
  color: $text-extra;
  text-align: center;
  margin: 0;
  padding-top: 70px;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    @include font($font-secondary, 400, 20px, 24px);
    padding: 105px 0 0;
    width: 140px;
    place-self: end center;
    grid-row: 1/2;
  }

  @media (min-width: $desktop-width) {
    align-self: self-end;
    padding: 0;
  }
}

.card__more-description {
  @include font($font-primary, 400, 12px, 16px);
  text-align: center;
  color: $text-secondary;
  grid-column: 1 / -1;
  padding-top: 8px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    @include font($font-primary, 400, 16px, 18px);
    width: 175px;
    place-self: center;
    padding: 0;
    padding-bottom: 5px;
    grid-row: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    align-self: start;
    margin-top: 27px;
    padding: 0;
  }
}

.card__more-button {
  @include font($font-secondary, 400, 16px, 20px);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: $bg-secondary;
  color: $text-secondary;
  padding: 10px 94px;
  border: none;
  margin: 0;
  margin-top: auto;
  grid-column: 1 / -1;
  transition: ease-in-out 0.6s;

  &:hover,
  &:focus {
    background-color: #ebebeb;
    outline: none;
    cursor: pointer;
  }

  &:active {
    background-color: #ebebeb;
  }

  @media (min-width: 530px) {
    padding: 10px 67px;
  }

  @media (min-width: $tablet-width) {
    @include font($font-secondary, 400, 16px, 20px);
    width: 250px;
    padding: 10px 75px;
    justify-self: center;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    padding: 10px 35px;
    grid-row: 2 / 3;
  }
}
