.example {
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(#ffffff 0% 61%, #eaeaea 61%);
  }

  @media (min-width: $desktop-width) {
    @include flex( flex, row, wrap);
    margin: 0 auto;
    justify-content: center;
    background-image: linear-gradient(#ffffff 0% 23%, #eaeaea 23%);
    padding-bottom: 23px;
  }
}

.example__title-wrapper {
  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.example__title {
  @include font($font-secondary, 400, 36px, 40px);
  text-align: left;
  color: $text-main;
  padding: 25px 20px 40px;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include font($font-secondary, 400, 60px, 60px);
    text-align: left;
    color: $text-main;
    padding: 0;
    padding-top: 45px;
    padding-left: 30px;
    padding-bottom: 60px;
    width: 60%;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
  }
}

.example__wrapper {
  @include flex (flex, column, nowrap);
  width: calc(100% - 40px);
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    @include flex (flex, row, wrap);
    width: calc(100% - 60px);
    padding-bottom: 104px;
  }

  @media (min-width: $desktop-width) {
    @include flex (flex, column, wrap);
    margin: 0;
    width: 610px;
    justify-content: flex-start;
    padding-bottom: 0;
    margin-top: 146px;
  }
}

.example__description {
  @include font($font-primary, 400, 14px, 18px);
  color: $text-secondary;
  margin: 0;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    @include font($font-primary, 400, 16px, 24px);
    color: $text-secondary;
    padding: 0;
    padding-bottom: 55px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 69px;
    width: 433px;
  }
}

.example__list {
  @include flex (flex, row, nowrap);
  justify-content: space-between;
  width: 280px;
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    @include flex (flex, row, wrap);
    max-width: 55%;
    justify-content: flex-start;
    gap: 43px;
    padding-bottom: 0;
    width: auto;
  }

  @media (min-width: $desktop-width) {
    @include flex (flex, row, wrap);
    max-width: 375px;
    justify-content: flex-start;
    gap: 42px;
  }
}

.example__item {
  @include flex (flex, column, nowrap);
  width: 124px;
  min-height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 162px;
    min-height: 72px;
  }
}

.example__stats {
  @include font($font-secondary, 400, 24px, 24px);
  text-align: center;
  color: $text-main;
  text-transform: uppercase;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    @include font($font-secondary, 400, 30px, 37px);
    text-align: center;
    color: $text-main;
    text-transform: uppercase;
    padding-top: 14px;
  }
}

.example__loss {
  @include font($font-primary, 400, 12px, 12px);
  text-align: center;
  color: $text-secondary;
  text-transform: lowercase;
  position: relative;
  top: 9px;
  background-color: #eaeaea;
  min-width: 87px;
  padding-right: 2px;

  @media (min-width: $tablet-width) {
    @include font($font-primary, 400, 14px, 14px);
    text-align: center;
    color: $text-secondary;
    text-transform: lowercase;
    background-color: #ffffff;
    top: 12px;
    padding: 0 9px;
  }

  @media (min-width: $desktop-width) {
    background-color: #eaeaea;
    top: 11px;
    right: 5px;
    padding-right: 0;
  }
}

.example__prepare {
  width: 240px;
  margin: 0;
  padding-left: 47px;

  @media (min-width: $tablet-width) {
    max-width: 178px;
    margin: 0 0 0 auto;
    padding-top: 11px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    width: 436px;
    margin: 0;
    padding-top: 61px;
    padding-left: 2px;
  }
}

.example__food {
  @include font($font-secondary, 400, 14px, 20px);
  text-transform: uppercase;
  color: $text-main;

  @media (min-width: $tablet-width) {
    @include font($font-secondary, 400, 20px, 20px);
    text-transform: uppercase;
    color: $text-main;
    padding-left: 6px;
  }

  @media (min-width: $desktop-width) {
    color: $text-main;
    padding-left: 0;
  }
}

.example__price {
  @include font($font-secondary, 400, 14px, 20px);
  text-transform: uppercase;
  color: $text-main;

  @media (min-width: $tablet-width) {
    @include font($font-secondary, 400, 20px, 20px);
    text-transform: uppercase;
    color: $text-main;
    display: block;
    padding-left: 88px;
    padding-top: 8px;
  }

  @media (min-width: $desktop-width) {
    color: $text-main;
    display: inline;
    padding-top: 0;
    padding-left: 60px;
  }
}

.example__mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.example__tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
    padding-right: 63px;
  }
}

.example__slider {
  @media (min-width: $desktop-width) {
    width: 610px;
  }
}
