.header {
  @include flex (flex, column, wrap);
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 14px;

  @media (min-width: $tablet-width) {
    @include flex (flex, row, nowrap);
    width: calc(100% - 64px);
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    justify-content: space-between;
    padding: 0;
    padding-top: 55px;
    padding-bottom: 110px;
    z-index: 2;
  }
}

.header--index {
  position: relative;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.header__logo {
  @include flex (flex, row, nowrap);
  width: calc(100% - 40px);
  align-items: center;
  padding-top: 13px;
  transition: ease-in-out 0.6s;

  &:hover,
  &:focus {
    opacity: 0.8;
    outline: none;
  }

  &:active {
    opacity: 0.6;
    outline: none;
  }

  @media (min-width: $tablet-width) {
    @include flex (flex, row, nowrap);
    align-items: center;
    padding: 0;
    width: 210px;
  }
}

.header__logo img {
  margin-left: -2px;


  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}

.header__sprite-logo-words {
  margin: 0 auto;
  padding-right: 35px;
  width: 150px;

  @media (min-width: $tablet-width) {

    margin-top: 0;
    margin-left: 9px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    width: 118px;
    height: 21px;
    margin: 0;
    margin-left: 14px;
  }
}

//catalog

.header--catalog {
  @include flex (flex, column, wrap);
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 15px;

  @media (min-width: $tablet-width) {
    @include flex (flex, row, nowrap);
    width: calc(100% - 64px);
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    justify-content: space-between;
    padding: 0;
    padding-top: 55px;
    padding-bottom: 74px;
  }
}

.header--catalog .header__sprite-logo-words {
  margin-top: 5px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-left: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 13px;
  }
}

.header--catalog img {
  @media (min-width: $tablet-width) {
    margin-left: -2px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}
