.map {
  width: 100%;
  margin: 0 auto;
  position: relative;

  @media (min-width: $desktop-width) {
    min-height: 400px;
    background-color: $bg-secondary;
  }
}

.map--catalog {
  background-color: #f2f2f2;
}

.map__prewrapper {
  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding: 93px 0 0;
  }
}

.map__wrapper {
  grid-template-columns: 1fr 1fr;
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 26px 0;
  display: grid;

  @media (min-width: $tablet-width) {
    @include flex(flex, row, wrap);
    justify-content: space-between;
    margin: 0 auto;
    width: calc(100% - 140px);
    padding: 61px 0;
  }

  @media (min-width: $desktop-width) {
    @include flex(flex, row, wrap);
    width: 565px;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
    position: relative;
    z-index: 2;
  }
}

.map__title {
  @include font($font-secondary, 400, 16px, 20px);
  text-transform: uppercase;
  color: $text-last;
  margin: 0;
  text-align: left;
  padding-right: 10px;

  @media (min-width: $tablet-width) {
    @include font($font-secondary, 400, 20px, 26px);
    text-transform: uppercase;
    color: $text-last;
    text-align: left;
    width: 35%;
  }

  @media (min-width: $desktop-width) {
    width: 242px;
    padding: 63px 0 60px 79px;
    background-color: #ffffff;
  }
}

.map__address {
  @include font($font-primary, 400, 14px, 20px);
  color: $text-secondary;
  margin: 0;
  text-align: left;

  @media (min-width: $tablet-width) {
    @include font($font-primary, 400, 16px, 20px);
    color: $text-secondary;
    text-align: right;
    width: 25%;
  }

  @media (min-width: $desktop-width) {
    width: 323px;
    padding: 63px 79px 60px 87px;
    background-color: #ffffff;
    text-align: left;
  }
}

.map__tablet {
  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 20px;
  }
}

.map__picture {
  width: 100%;
  display: block;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1440px;
    transform: translateX(-50%);
  }
}

.map__live {
  width: 100%;
  display: block;
  border: none;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 100%;
  }
}
