.preview {
  width: calc(100% - 40px);
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: calc(100% - 60px);
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin-bottom: 71px;
  }
}

.preview__list {
  @include flex(flex, column, wrap);

  @media (min-width: $laptop-width) {
    @include flex(flex, row, wrap);
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    @include flex(flex, row, wrap);
    justify-content: space-between;
  }
}

.preview__item {
  @include flex(flex, row, wrap);
  background-color: $bg-secondary;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    @include flex(flex, column, nowrap);
    background-color: $bg-secondary;
    position: relative;
    min-height: 372px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 45px;
    }
  }

  @media (min-width: $laptop-width) {
    min-height: 374px;
    margin-bottom: 30px;
    position: relative;
    width: 48%;
    max-width: 570px;

    &:first-child {
      margin-right: 30px;
    }

    &:last-child {
      margin-bottom: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    @include flex(flex, column, nowrap);
    max-width: auto;
    width: 570px;
    min-height: 374px;
    margin-bottom: 0;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.preview__title {
  @include font($font-secondary, 400, 24px, 37px);
  text-transform: uppercase;
  color: $text-main;
  padding-top: 30px;
  padding-left: 91px;
  padding-bottom: 30px;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include font($font-secondary, 400, 36px, 36px);
    text-transform: uppercase;
    color: $text-main;
    padding: 74px 1px 27px 53px;
    width: 70%;
  }

  @media (min-width: $laptop-width) {
    text-align: center;
    width: 220px;
    margin: 77px 0 73px 100px;
    padding: 0;
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    width: 220px;
    margin: 77px 0 73px 11px;
    padding: 0;
    align-self: center;
  }
}

.preview__title--home {
  position: relative;

  &::before {
    @include pseudo(50px, 50px);
    background-color: $bg-main;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 24px;
  }

  &::after {
    @include pseudo(36px, 50px);
    background-image: url("../../icons/stack.svg#index-home-cat");
    background-repeat: no-repeat;
    background-size: 36px 50px;
    position: absolute;
    top: 21px;
    left: 27px;
  }

  @media (min-width: $tablet-width) {
    position: static;

    &::before {
      @include pseudo(200px, 200px);
      background-color: $bg-main;
      border-radius: 50%;
      position: absolute;
      top: 92px;
      left: auto;
      right: 63px;
    }


    &::after {
      @include pseudo(140px, 194px);
      background-image: url("../../icons/stack.svg#index-home-cat");
      background-repeat: no-repeat;
      background-size: 140px 194px;
      position: absolute;
      top: 81px;
      left: auto;
      right: 93px;
    }
  }

  @media (min-width: $laptop-width) {
    position: static;

    &::before {
      @include pseudo(100px, 100px);
      background-color: $bg-main;
      border-radius: 50%;
      position: absolute;
      top: 30px;
      left: 52px;
      right: auto;
    }


    &::after {
      @include pseudo(70px, 97px);
      background-image: url("../../icons/stack.svg#index-home-cat");
      background-repeat: no-repeat;
      background-size: 70px 97px;
      position: absolute;
      top: 27px;
      left: 65px;
      right: auto;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 22px;

    &::before {
      @include pseudo(100px, 100px);
      background-color: $bg-main;
      border-radius: 50%;
      position: absolute;
      top: 47px;
      left: 52px;
      right: auto;
    }


    &::after {
      @include pseudo(70px, 97px);
      background-image: url("../../icons/stack.svg#index-home-cat");
      background-repeat: no-repeat;
      background-size: 70px 97px;
      position: absolute;
      top: 41px;
      left: 67px;
      right: auto;
    }
  }
}

.preview__title--hunter {
  position: relative;

  &::before {
    @include pseudo(50px, 50px);
    background-color: $bg-main;
    border-radius: 50%;
    position: absolute;
    top: 24px;
    left: 21px;
  }

  &::after {
    @include pseudo(67px, 28px);
    background-image: url("../../icons/stack.svg#index-hunter-cat");
    background-repeat: no-repeat;
    background-size: 67px 28px;
    position: absolute;
    top: 35px;
    left: 13px;
  }

  @media (min-width: $tablet-width) {
    position: static;
    padding-top: 77px;
    padding-bottom: 24px;

    &::before {
      @include pseudo(200px, 200px);
      background-color: $bg-main;
      border-radius: 50%;
      position: absolute;
      top: 92px;
      left: auto;
      right: 63px;
    }


    &::after {
      @include pseudo(268px, 112px);
      background-image: url("../../icons/stack.svg#index-hunter-cat");
      background-repeat: no-repeat;
      background-size: 268px 112px;
      position: absolute;
      top: 135px;
      left: auto;
      right: 25px;
    }
  }

  @media (min-width: $laptop-width) {
    position: static;
    padding: 0;

    &::before {
      @include pseudo(100px, 100px);
      background-color: $bg-main;
      border-radius: 50%;
      position: absolute;
      top: 30px;
      left: 52px;
      right: auto;
    }


    &::after {
      @include pseudo(134px, 56px);
      background-image: url("../../icons/stack.svg#index-hunter-cat");
      background-repeat: no-repeat;
      background-size: 134px 56px;
      position: absolute;
      top: 50px;
      left: 30px;
      right: auto;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 64px;

    &::before {
      @include pseudo(100px, 100px);
      background-color: $bg-main;
      border-radius: 50%;
      position: absolute;
      top: 47px;
      left: 52px;
      right: auto;
    }


    &::after {
      @include pseudo(134px, 56px);
      background-image: url("../../icons/stack.svg#index-hunter-cat");
      background-repeat: no-repeat;
      background-size: 134px 56px;
      position: absolute;
      top: 67px;
      left: 35px;
      right: auto;
    }
  }
}

.preview__description {
  @include font($font-primary, 400, 14px, 18px);
  color: $text-secondary;
  margin: 0;
  padding-left: 20px;
  padding-right: 33px;
  padding-bottom: 23px;
  position: relative;

  &::after {
    content: "";
    background-color: #d9d9d9;
    height: 1px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
  }

  @media (min-width: $tablet-width) {
    @include font($font-primary, 400, 16px, 24px);
    color: $text-main;
    padding: 0 0 48px 52px;
    position: static;
    width: 55%;

    &::after {
      display: none;
    }
  }

  @media (min-width: $laptop-width) {
    width: 90%;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    padding: 0;
    padding-left: 52px;
    padding-bottom: 27px;
    width: 505px;
  }
}

.preview__link {
  @include font($font-secondary, 400, 16px, 16px);
  text-transform: uppercase;
  text-align: center;
  color: $text-main;
  text-decoration: none;
  padding: 19px 50px 21px 20px;
  margin-top: auto;

  @media (min-width: $tablet-width) {
    @include font($font-secondary, 400, 20px, 20px);
    text-align: left;
    margin-bottom: 62px;
    margin-left: 52px;
    padding: 0 40px 0 0;
    width: 150px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 53px;
    margin-bottom: 64px;
  }
}

.preview__link--active {
  position: relative;
  transition: ease-in-out 0.4s;

  &:hover,
  &:focus {
    outline: none;
  }

  &:active {
    opacity: 0.4;
  }

  &::before {
    @include pseudo(8px, 2px);
    background-color: $text-main;
    position: absolute;
    top: 26px;
    right: 27px;
  }

  &::after {
    @include pseudo(24px, 12px);
    mask-image: url("../../icons/stack.svg#index-arrow");
    mask-repeat: no-repeat;
    mask-size: 24px, 12px;
    background-color: $text-main;
    position: absolute;
    top: 21px;
    right: 11px;
    transition: ease-in-out 0.6s;
  }

  &:hover::after,
  &:focus::after {
    right: 3px;
  }

  @media (min-width: $tablet-width) {
    &::before {
      @include pseudo(18px, 2px);
      background-color: $text-main;
      position: absolute;
      top: 9px;
      right: 0;
    }

    &::after {
      @include pseudo(24px, 12px);
      mask-image: url("../../icons/stack.svg#index-arrow");
      mask-repeat: no-repeat;
      mask-size: 24px, 12px;
      background-color: $text-main;
      position: absolute;
      top: 4px;
      right: -6px;
    }

    &:hover::after,
    &:focus::after {
      right: -15px;
    }
  }

  /* @media (min-width: $desktop-width) {
    &::before {
      @include pseudo(18px, 2px);
      background-color: $text-main;
      position: absolute;
      top: 10px;
      right: 1px;
    }

    &::after {
      @include pseudo(24px, 12px);
      mask-image: url("../../icons/stack.svg#index-arrow");
      mask-repeat: no-repeat;
      mask-size: 24px, 12px;
      background-color: $text-main;
      position: absolute;
      top: 5px;
      right: -5px;
    }

    &:hover::after {
      right: -15px;
    }
  } */
}
