.social {
  @include flex(flex, row, wrap);
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 3px;
  position: relative;

  &::before {
    @include pseudo(100%, 1px);
    position: absolute;
    background-color: #d9d9d9;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    @include pseudo(100%, 1px);
    position: absolute;
    background-color: #d9d9d9;
    bottom: 19%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (min-width: $tablet-width) {
    @include flex(flex, row, wrap);
    align-items: center;
    padding: 0;
    width: 30%;
    gap: 24px;
    padding-left: 25px;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 27px;
  }
}

.social__item {
  @media (min-width: $tablet-width) {
    &:first-child {
      padding-left: 7px;
    }

    &:nth-child(2) {
      padding-left: 2px;
    }

    &:last-child {
      padding-left: 3px;
    }
  }
}

.social__item:not(:last-child) {
  margin-right: 27px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.social__link {
  transition: ease-in-out 0.6s;

  &:hover,
  &:focus {
    outline: none;
  }
}


.social__link--vk {
  &::before {
    @include pseudo(27px, 17px);
    mask-image: url("../../icons/stack.svg#vk");
    mask-repeat: no-repeat;
    mask-size: 27px 17px;
    background-color: #666666;
    transition: ease-in-out 0.6s;
  }

  &:hover::before,
  &:focus::before {
    background-color: $bg-main;
  }

  &:active::before {
    background-color: rgba(104, 183, 56, 0.4);
  }
}

.social__link--youtube {
  &::before {
    @include pseudo(24px, 19px);
    mask-image: url("../../icons/stack.svg#youtube");
    mask-repeat: no-repeat;
    mask-size: 24px 19px;
    background-color: #666666;
    transition: ease-in-out 0.6s;
  }

  &:hover::before,
  &:focus::before {
    background-color: $bg-main;
  }

  &:active::before {
    background-color: rgba(104, 183, 56, 0.4);
  }
}

.social__link--telegram {
  &::before {
    @include pseudo(24px, 19px);
    mask-image: url("../../icons/stack.svg#telegram");
    mask-repeat: no-repeat;
    mask-size: 24px 19px;
    background-color: #666666;
    transition: ease-in-out 0.6s;
  }

  &:hover::before,
  &:focus::before {
    background-color: $bg-main;
  }

  &:active::before {
    background-color: rgba(104, 183, 56, 0.4);
  }
}
